@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf');
}

$primary-color: #F57251;
$secondary-color: #4F6D7A;
$tertiary-color: #A13D63;
$white: #F5F5F5;
$grey: #eeeeee;
$black: #12100E;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Ubuntu";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  @include flex-center;
}

body {
  @include flex-center;
  width: 100%;
  background: $primary-color;
}
