@import "../../styles/settings.scss";

.whatsup__form {
  width: 100%;
  @include flex-center;
  flex-direction: column;

  input {
    width: 80%;
    height: 40px;
    padding: 0 0 0 20px;
    margin: 10px 0;
    font-size: 1rem;
    &:focus {
      outline: none !important;
      border: 1px solid $primary-color;
      box-shadow: 0 0 3px $primary-color;
    }
    &::placeholder {
      font-size: 1rem;
    }
  }
}
.icons_container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & > * {
    margin: 0 5px;
    font-size: 18px;
    color: darken($grey, 60%);
    background: none;
    border: none;
    padding: 0;
    transition: 0.25s ease;
    &:hover {
      background: none;
      color: lighten($primary-color, 3%);
      cursor: pointer;
    }
  }
  input[type="file"] {
    display: none;
  }
}

.testt {
  width: 100%;
}
