@import "../../styles/settings.scss";

.identification-container {
  width: 400px;
  min-height: 500px;
  padding-bottom: 50px;
  border: 1px black solid;
  border-radius: 10px;
  transform: translateY(0%); // don't touch
  overflow: hidden;
  background: white;
}

@media (max-width: 480px) {
  .identification-container  {
    width: 300px;
  }
 }
