@import "../../../styles/settings.scss";

.whatsup__avatar {
  @include flex-center;
  img {
 @include avatar;
 object-fit: cover
  }
}

.post__avatar {
  img {
    @include avatar;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}

.profil-tab__id-img {
  img {
    @include avatar;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}

.modal__photo{
  img {
    @include avatar;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: auto;
  }
}

.comment__author_avatar {
  img {
    @include avatar;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 5px;
  }
}

.modal__photo img {
  position: relative;
}
.profile_picture__change {
  position: absolute;
  color: $primary-color;
  left: 60%;
  transform: translate(-50%);
  top: 28%;
  font-size: 36px;
  border-radius: 50%;
  border: 1px solid black;
  padding: 8px;
  background: rgb(243, 243, 243);
  transition: .3s;
  &:hover {
    cursor: pointer;
    background: white;
    transition: .3s;
    opacity: 90%;
  }
}
input[type="file"] {
 display: none;
}