.comment {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding: 10px 0;
    margin: 2px 0;
    background: rgb(238, 238, 238);
    &__author-id {

    }
    &__date {
        font-size: 11px;
    }
    &__message {
        
    }
}