@import "../../../../styles/settings.scss";

.comment {
    padding-left: 15px !important;
    position: relative;
    &__author-infos {
        display: flex;
    }
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding: 10px 0;
    margin: 2px 0;
    background: rgb(238, 238, 238);
    &__author-id {
        margin-right: 6px;
    }
    &__author-name {
        margin-right: 4px;
    }
    &__date {
        font-size: 11px;
    }
    &__message {
        font-size: 14px
    }
}