@import "../../../styles/settings.scss";

.post {
  background: $white;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: solid 1px $black;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  margin: 0 0 10px 0;

  &__author_group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .post__author_and_date {
      display: flex;
      justify-content: start;
      flex-direction: column;
    }
  }
  &__avatar {
    padding: 5px;
  }
  &__author {
    display: flex;
    justify-content: flex-start;
    font-size: 1.05rem;
    text-transform: capitalize;
  }
  &__date {
    font-size: 0.75rem;
  }
}
