@import "../../../styles/settings.scss";

.register-or-login {
  width: 100%;
  @include flex-center;
  background: $white;
  .break {
    width: 1px;
    height: 63px;
    background-color: $black;
    z-index: 1;
  }
}

.active-style {
  background-color: white;
  border-bottom: none !important;
  &__signup {
    border-right: solid 1px $black;
  }
  &__login {
    border-left: solid 1px $black;
  }
}
h3 {
  text-transform: capitalize;
}

.tab {
  @include flex-center;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid $black;
}
