@import "../../../styles/settings.scss";

.register-or-login {
  width: 100%;
  @include flex-center;
  background: $white;

  .active {
    background: $primary-color;
    color: $white;
  }
}
.tabs {
  @include flex-center;
  padding: 20px;
  width: 100%;
  h3 {
    text-transform: capitalize;
  }
}
