@import "../styles/settings.scss";

#root {
    @include flex-center();
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    max-width: 700px;
    height: 500px; // Temporaire, le scroll sera infini
    background: lighten($secondary-color, 40%);
    padding: 10px;
    border-radius: 5px;
    border: solid 1px $black;
    .publication__title {
        text-transform: none;
        padding: 15px 0;
        color: $black;
    }
}