@import "../styles/settings.scss";

#root {
    @include flex-center();
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
    background: lighten($secondary-color, 40%);
    padding: 10px;
    border-radius: 5px;
    border: solid 1px $black;
    .publication__title {
        text-transform: none;
        padding: 15px 0;
        color: $black;
    }
    &__global {
        width: 100%;
        @include flex-center;
        flex-direction: column;
        margin-bottom: 50px;
        
    }
}

.transparent {
opacity: 30%;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        .publication__title {
          
        }
    }
  }