@import "../../../../styles/settings.scss";

.to-interact {
  &__buttons {
    button {
      font-size: 14px;
      padding: 5px 20px;
      border: none;
      border-radius: 5px;
      margin-right: 10px;
      &.button__liked {
        background: lighten($secondary-color, 45%);
        &:hover {
        background: #b5d4f5

        }
      }
      
    }
    span {
      margin-right: 10px;
    }
   
  }
  &__nb-of-likes {
    display: flex;
    font-size: 13px;
    margin: 20px 0 5px 0;
    &--number {
        margin: 0 0 0 5px;
    }
  }
}
